<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');">
  <div class="container">
    <h1>Mother's Ruin</h1>
  </div>
</div>

<div class="container">

  <%= link_to 'Add a new cocktail', new_cocktail_path, class: "btn btn-warning" %>


  <div class="container mt-3">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('')">
        <div class="cocktail-info">
          <%= cocktail.name %>
        </div>
      </div>
      <% end %>
    </div>

  </div>
