.btn-warning {
  background-color: #006a4e !important;
  border-color: #006a4e !important;
  padding: 12px;
  margin-top: 16px;
  margin-bottom: 8px;
  text-shadow: 1px 1px 1px #00916b;
}

.text-center {
  margin: 8px;
}
